<%= render "manage/navigation" %>
<%= form_for @event, url: manage_event_path(@event), html: { class: 'form-horizontal' } do |form| %>
  <div class="control-group">
    <%= form.label :name, :class => "control-label" %>
    <div class="controls">
      <%= form.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= form.label :description, :class => "control-label" %>
    <div class="controls">
      <%= form.text_field :description %>
    </div>
  </div>
  <div class="control-group">
    <%= form.label :address, :class => "control-label" %>
    <div class="controls">
      <%= form.text_field :address %>
    </div>
  </div>
  <div class="control-group">
    <%= form.label :city, :class => "control-label" %>
    <div class="controls">
      <%= form.text_field :city %>
    </div>
  </div>
  <div class="control-group">
    <%= form.label :state, :class => "control-label" %>
    <div class="controls">
      <%= form.text_field :state %>
    </div>
  </div>
  <div class="control-group">
    <%= form.label "Dates", :class => "control-label" %>
    <div class="controls">
      <%= form.text_field :starts_at %>
      <%= form.text_field :ends_at %>
    </div>
  </div>
  <div class="control-group">
    <%= form.label :price, :class => "control-label" %>
    <div class="controls">
      <%= form.text_field :price %>
    </div>
  </div>
  <div class="control-group">
    <%= form.label :capacity, :class => "control-label" %>
    <div class="controls">
      <%= form.text_field :capacity %>
    </div>
  </div>
  <div class="control-group">
    <%= form.label :image, :class => "control-label" %>
    <div class="controls">
      <%= form.file_field :image %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= form.submit "Update", :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
