<% content_for :meta do %>
  <%= tag :meta, name: "stripe-key", content: ENV["STRIPE_PUBLISHABLE_KEY"] %>
<% end %>
<aside id="event-price">
  <span data-original-price="<%= @event.price %>">
    <%= number_to_currency @event.price %> 
  </span>
  <p>Per Registration</p>
</aside>
<div id="stripe_error"></div>
<%= form_for @registration, url: [@event, :registrations], html: {id: "stripe"} do |form| %>
  <%= form.hidden_field :stripe_token, id: "stripe_token" %>
  <div>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>
  <div>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>
  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div>
    <%= form.label :shirt_size %>
    <%= form.select :shirt_size, Registration::SHIRT_SIZES %>
  </div>
  <div>
    <%= form.label :coupon %>
    <%= form.text_field :coupon %>
    <span class="optional">(optional)</span>
  </div>
  <div class="cc-info">
    <%= label_tag :credit_card_number, t("stripe.credit_card_number") %>
    <%= text_field_tag :credit_card_number, nil, name: nil %>
  </div>
  <div class="cc-info">
    <%= label_tag :credit_card_code, t("stripe.credit_card_code") %>
    <%= text_field_tag :credit_card_code, nil, name: nil %>
  </div>
  <div class="cc-info">
    <%= label_tag :credit_card_month, t("stripe.credit_card_month") %>
    <select id="credit_card_month">
      <option value="01" selected="selected">01 - January</option>
      <option value="02">02 - February</option>
      <option value="03">03 - March</option>
      <option value="04">04 - April</option>
      <option value="05">05 - May</option>
      <option value="06">06 - June</option>
      <option value="07">07 - July</option>
      <option value="08">08 - August</option>
      <option value="09">09 - September</option>
      <option value="10">10 - October</option>
      <option value="11">11 - November</option>
      <option value="12">12 - December</option>
    </select>
    <%= select_tag :credit_card_year, options_for_select(Time.current.year..(Time.current.year + 10), Time.current.year) %>
  </div>
  <div>
    <%= form.check_box :hidden %>
    <%= form.label :hidden, :class => 'checkbox-label' %>
  </div>
  <div>
    <%= form.submit "Register", name: nil %>
  </div>
<% end %>
