
<h2>Upcoming Events</h2>
<ul class="event-list">
<% @upcoming_events.each do |event| %>
  <li>
    <img src="">
    <%= link_to "Register", new_event_registration_path(event) %>
    <h3><%= event.name %></h3>
    <%= event.starts_at.strftime("%B %d") %> – <%= event.ends_at.strftime("%d") %> 
  </li>
<% end %>
</ul>

<h2>Previous Events</h2>
<ul class="event-list">
<% @previous_events.each do |event| %>
  <li>
    <img src="">
    <h3><%= event.name %></h3>
    <%= event.starts_at.strftime("%B %d") %> – <%= event.ends_at.strftime("%d") %> 
  </li>
<% end %>
</ul>
