<!DOCTYPE html>
<html>
<head>
  <title>Finish Weekend</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= content_for :stylesheets %>
  <%= javascript_include_tag "application" %>
  <%= content_for :javascripts %>
  <%= csrf_meta_tags %>
  <%= content_for :meta %>
  
  <!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
  <link href='http://fonts.googleapis.com/css?family=Convergence|Patua+One' rel='stylesheet' type='text/css'>
</head>
<body>

  <section id="head">
    <header>
      <h1>Finish Weekend</h1>
      <h2>This is your time to commit to launching something.<br>Bring a project, and get ready to ship it!.</h2>
    </header>
    
    <section id="events">
      <div id="inner"></div>
      <div id="stationary">
        <div id="tab"><span>fw is coming to:</span></div>
        <div id="event-nav">
          <a id="prev">previous finishweekend event</a>
          <a id="next">next finishweekend event</a>
        </div>
      </div>
        
      <article id="event">
        <div id="location">
          <%= image_tag @current_event.image.url, width: 280, height: 123 %>
          <a id="register" href="<%= new_event_registration_path @current_event %>"><h1>Register</h1></a>
        </div>
        <div id="info">
          <h1 id="city"><%= @current_event.name %></h1>
          <h2 id="state"><%= @current_event.state %></h2>
          <h1 id="date"><%= @current_event.starts_at.strftime "%B %d" %>–<%= @current_event.ends_at.strftime "%d" %></h1>
          <h2 id="address"><%= @current_event.address %></h2>
        </div>            
      </article>

    </section><!-- #events -->
    
    <section id="navigation">
      <nav>
        <h1 id="title"><%= link_to "Finish Weekend", root_path %></h1>
        <ul>
          <li><%= link_to "Events", events_path %></li>
          <li><%= link_to "FAQs", faq_path %></li>
        </ul>
      </nav>
    </section><!-- #navigation -->
  </section>

  <section id="main-content">
    <section id="flash">
      <% if flash[:notice] %>
        <p class="alert alert-success"><%= flash[:notice] %></p>
      <% end %>
      <% if flash[:error] %>
        <p class="alert alert-error"><%= flash[:error] %></p>
      <% end %>
    </section>

    <%= yield %>

  </section><!-- #main-content -->

  <footer>
  <small>© 2011–2012. Brought to you by <a href="http://collectiveidea.com">Collective Idea</a>. Questions? Get in touch with us at <a href="mailto:finishweekend@collectiveidea.com">finishweekend@collectiveidea.com</a>.</small>
  </footer>
</body>
</html>
