<!DOCTYPE html>
<html>
<head>
  <title>Finish Weekend: Managment</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= content_for :stylesheets %>
  <%= javascript_include_tag "application" %>
  <%= content_for :javascripts %>
  <%= csrf_meta_tags %>
  <%= content_for :meta %>
  
  <!--[if IE]>
  <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
  <link href='https://fonts.googleapis.com/css?family=Convergence|Patua+One' rel='stylesheet' type='text/css'>
</head>
<body class="management">
  <header>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Finish Weekend", root_path, :class => "brand" %>
        </div>
      </div>
    </div>
  </header>
  
  <section class="container wrapper">
    <section id="flash">
      <% if flash[:notice] %>
        <p class="alert alert-success"><%= flash[:notice] %></p>
      <% end %>
      <% if flash[:error] %>
        <p class="alert alert-error"><%= flash[:error] %></p>
      <% end %>
    </section>
    <section>
      <%= yield %>
    </section>
    <footer>
      © 2011 – 2012 Collective Idea
    </footer>
  </section>
</body>
</html>
